@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: 1s;
    transform: perspective(1000px) rotateY(deg);
}

.flip:hover img{
    
    transition: 1s;
        transform: perspective(1000px) rotateY(180deg) ; 
    
}

html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.active {
    color: rgb(74 222 128);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

