@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: 1s;
    transform: perspective(1000px) rotateY(deg);
}

.flip:hover img{
    
    transition: 1s;
        transform: perspective(1000px) rotateY(180deg) ; 
    
}

